@import "./../ListOfNotes/ListOfNotes";

.InformationNotes{
  height: 80vh;
  margin: 40px auto;
}

.Edit{
  @include Button(#bfde44)
}
.Start{
  @include Button(#32d9a4);
  &__Status{
    color: #3a404b;
  }
}
.Delete{
  @include Button(#d51e1e);
  &__Status{
    color: green;
  }
}
.Save{
  @include Button(#53ea53)
}
.Complete{
  @include Button(#30a9a9);
  &__Status{
    color: #30a9a9;
  }
}

.form{
  border-radius: 20px;
  margin: auto;
  padding: 15px;
  overflow: auto;
  min-width: 800px;

  input{
    margin: 10px;
    border-radius: 50px;
    padding: 10px;
    border: 1px #3a404b solid;
    width: 500px;
  }
  textarea{
    padding: 10px;
    border-radius: 20px;
    width: 500px;
    resize: none;
    height: 400px;
  }
  label{

  }
  fieldset{
    border-radius: 20px;

    legend{
      text-align: left;
    }
  }
  p{
    margin: 10px;
  }
}