@import "./../ListOfNotes/ListOfNotes";

// Компанента с информацией о заметке
.InformationNotes{
  height: 80vh;
  margin: 40px auto;
}
//Кнопки
.Edit{
  @include Button(#bfde44)
}
.Start{
  @include Button(#32d9a4);
  //Цвет состояния
  &__Status{
    color: #3a404b;
  }
}
.Delete{
  @include Button(#d51e1e);
  &__Status{
    color: green;
  }
}
.Save{
  @include Button(#53ea53)
}
.Complete{
  @include Button(#30a9a9);
  &__Status{
    color: #30a9a9;
  }
}

//Форма редактирования
.form{
  border-radius: 20px;
  margin: auto;
  padding: 15px;
  overflow: auto;
  min-width: 800px;

  //Заголовок
  input{
    margin: 10px;
    border-radius: 50px;
    padding: 10px;
    border: 1px #3a404b solid;
    width: 500px;
  }
  //Текст
  textarea{
    padding: 10px;
    border-radius: 20px;
    width: 500px;
    resize: none;
    height: 400px;
  }
  //Обертка формы
  fieldset{
    border-radius: 20px;
    //Заголовок обертки
    legend{
      text-align: left;
    }
  }
  //Абзацы с информацией о заметке
  p{
    margin: 10px;
  }
}