.ListOfNotes {
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  overflow: auto;
}

.ListOfNotesDiv {
  margin: 40px;
  height: 90vh;
  max-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 165px;
  width: 600px;
}
.ListOfNotesDiv input {
  width: 100px;
}
.ListOfNotesDiv p {
  padding: 5px;
  border-radius: 50px;
  -webkit-box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
          box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.New__button {
  color: #232323;
  background: transparent;
  border: 1px solid #232323;
  position: relative;
  font-size: 14px;
  letter-spacing: 0.3em;
  font-family: "Montserrat", sans-serif;
  padding: 17px 24px 17px 29px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.New__button:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100%;
  height: 100%;
  background: orange;
  z-index: -1;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.New__button:hover:before {
  -webkit-transform: translate(4px, 4px);
          transform: translate(4px, 4px);
}

.NavLink {
  text-decoration: none;
}

.Pending {
  color: gray;
}

.InProgress {
  color: #61dafb;
}

.Completed {
  color: green;
}

.Border {
  grid-area: Border;
  background: rgba(1, 1, 1, 0.2);
  cursor: col-resize;
  height: 90vh;
  width: 5px;
  min-width: 3px;
}

.InformationNotes {
  height: 80vh;
  margin: 40px auto;
}

.Edit__button {
  color: #232323;
  background: transparent;
  border: 1px solid #232323;
  position: relative;
  font-size: 14px;
  letter-spacing: 0.3em;
  font-family: "Montserrat", sans-serif;
  padding: 17px 24px 17px 29px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.Edit__button:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100%;
  height: 100%;
  background: #bfde44;
  z-index: -1;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.Edit__button:hover:before {
  -webkit-transform: translate(4px, 4px);
          transform: translate(4px, 4px);
}

.Start__button {
  color: #232323;
  background: transparent;
  border: 1px solid #232323;
  position: relative;
  font-size: 14px;
  letter-spacing: 0.3em;
  font-family: "Montserrat", sans-serif;
  padding: 17px 24px 17px 29px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.Start__button:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100%;
  height: 100%;
  background: #32d9a4;
  z-index: -1;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.Start__button:hover:before {
  -webkit-transform: translate(4px, 4px);
          transform: translate(4px, 4px);
}

.Delete__button {
  color: #232323;
  background: transparent;
  border: 1px solid #232323;
  position: relative;
  font-size: 14px;
  letter-spacing: 0.3em;
  font-family: "Montserrat", sans-serif;
  padding: 17px 24px 17px 29px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.Delete__button:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100%;
  height: 100%;
  background: #d51e1e;
  z-index: -1;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.Delete__button:hover:before {
  -webkit-transform: translate(4px, 4px);
          transform: translate(4px, 4px);
}

.Save__button {
  color: #232323;
  background: transparent;
  border: 1px solid #232323;
  position: relative;
  font-size: 14px;
  letter-spacing: 0.3em;
  font-family: "Montserrat", sans-serif;
  padding: 17px 24px 17px 29px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.Save__button:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100%;
  height: 100%;
  background: #53ea53;
  z-index: -1;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.Save__button:hover:before {
  -webkit-transform: translate(4px, 4px);
          transform: translate(4px, 4px);
}

.Complete__button {
  color: #232323;
  background: transparent;
  border: 1px solid #232323;
  position: relative;
  font-size: 14px;
  letter-spacing: 0.3em;
  font-family: "Montserrat", sans-serif;
  padding: 17px 24px 17px 29px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.Complete__button:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100%;
  height: 100%;
  background: #30a9a9;
  z-index: -1;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.Complete__button:hover:before {
  -webkit-transform: translate(4px, 4px);
          transform: translate(4px, 4px);
}

.form {
  border-radius: 20px;
  margin: auto;
  padding: 15px;
  overflow: auto;
  min-width: 800px;
}
.form input {
  margin: 10px;
  border-radius: 50px;
  padding: 10px;
  border: 1px #3a404b solid;
  width: 500px;
}
.form textarea {
  padding: 10px;
  border-radius: 20px;
  width: 500px;
  resize: none;
  height: 400px;
}
.form fieldset {
  border-radius: 20px;
}
.form fieldset legend {
  text-align: left;
}
.form p {
  margin: 10px;
}